<!DOCTYPE html>
<html>
<%- partial('_partial/head') %>

<body>
    <script src="https://cdn.jsdelivr.net/npm/shikwasa@2.0.0/dist/shikwasa.min.js"></script>
    <%- partial('_partial/header') %>
    <main class="main">
        <%- body %>
    </main>
</body>

</html>