body {
    background-color: #ffffff;
    font-size: 16px;
    line-height: 1.6em;
    font-family: "Source Serif Pro", Arial, "Source Han Serif SC",
        "Noto Serif CJK SC", "Noto Serif SC", "PingFang SC",
        "Heiti SC", "Noto Sans CJK SC", "Source Han Sans SC",
        "Hiragino Sans GB", "Microsoft YaHei UI", "Microsoft YaHei", sans-serif;
    padding: 0 1.5em;
    margin: 0 auto;
    max-width: 800px;
    word-break: break-word;
}

@media screen and (min-width: 800px) {
    body {
        margin-left: calc((100vw - 3em - 800px) / 2);
    }
}

@import "_partial/header";
@import "_partial/post";
@import "_partial/archive";
@import "_partial/normalize";
@import "_partial/font-noto-serif-sc";
@import "_partial/font-source-serif-pro";

vertical = hexo-config("vertical");
darkmode = hexo-config("darkmode");

if darkmode {
    @import "_partial/dark";
}

if vertical {
    @import "_partial/style_vertical";
    @import "_partial/header_vertical";
    @import "_partial/post_vertical";
    @import "_partial/archive_vertical";
} else {
    @media screen and (min-width: 320px) {
        body {
            font-size: calc(16px + 2 * ((100vw - 320px) / 960));
        }
    }
}