body {
  background-color: #ffffff;
  font-size: 16px;
  line-height: 1.5em;
  font-family: "TIBch", "Classic Grotesque W01",
    "Avenir Next", "Segoe UI", "Helvetica Neue",
    Arial, "Hiragino Sans GB",  "Source Han Serif", "PingFang SC",
    "Heiti SC", "Noto Sans CJK SC", "Source Han Sans SC", 
    "Microsoft YaHei UI", "Microsoft YaHei", sans-serif;
  overflow-wrap: break-word;
  padding: 0 5%
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

@media screen and (min-width: 320px) { body { font-size: calc( 16px + 2 * ((100vw - 320px) / 960)); }}
@media screen and (min-width: 1280px) { body { font-size: 18px } }

@import "_partial/header";
@import "_partial/post";
@import "_partial/archive"