<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <title><%= page.title === undefined ? config.title : page.title + ' - ' + config.title %></title>
    <%- favicon_tag('favicon.ico') %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif+SC:400,700|Noto+Serif:400,400i&display=swap"
        rel="stylesheet">
    <%- css('css/style.css') %>
</head>