.archive {
    padding: 3% 5%;
    border: 1px #ddd;
    border-style: solid none none none;
    .post-archive {
        list-style: none;
        padding: 0;
        .year {
            padding-bottom: 0.5em;
        }
        .post-item {
            .post-date {
                display: inline-block;
                margin-right: 10px;
                color: #BABABA;
            }
            .post-title {
                color: #000000;
                text-decoration: none;
            }
        }
    }
}