.archive {
  padding: 3% 5%;
  background-color: #fff;
  border: 1px #ddd;
  border-style: solid none none none;

  .post-archive {
    list-style: none;
    padding: 0;

    .post-item {

      .post-date {
        display: inline-block;
        margin-right: 10px;
        color: #BABABA;
      }

      .post-title {
        color: #000000;
        text-decoration: none;
      }
    }
  }
}