.archive {
    padding: 0 10%;
    border: 1px #ddd;
    border-style: solid none none none;
    .post-archive {
        list-style: none;
        padding: 0;
        .years {
            border: 1px #ddd;
            border-style: none none solid none;
            padding-bottom: 0.5em;
        }
        .post-item {
            .post-date {
                display: inline-block;
                margin-right: 10px;
            }
            .post-title {
                color: #000000;
                text-decoration: none;
            }
        }
    }
}