body {
    background-color: #2f2f2f;
    color: white;
}

.header {
    .blog-title .logo {
        color: white;
    }
    .menu .current-menu-item-link {
        color: white;
    }
    .menu .menu-item-link {
        &:hover {
            color: white;
        }
    }
}

.posts {
    .post-title .post-title-link {
        color: white;
    }
    .post-meta {
        color: white;
    }
    .post-content a {
        color: #e5e5e5;
    }
}

.post {
    border-color: #616161;
    code, pre {
        background-color: black;
        color: white;
    }
    .highlight {
        background-color: black;
    }
    a {
        color: #e5e5e5;
    }
}

#prev_next {
    a {
        color: #e5e5e5;
    }
    .article-nav-title {
        color: #e5e5e5;
    }
}

.archive .post-archive .post-item .post-title {
    color: white;
}