.header {
    display: flex;
    margin: 0 auto;
    padding: 1em;
    padding-bottom: 0.5em;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .blog-title .logo {
        font-family: 'Source Serif Pro', 'Noto Serif SC', serif;
        color: #000;
        font-size: 1.2em;
        text-decoration: none;
    }
    .blog-title {
        height: 26.5;
    }
    .menu {
        margin: 0 auto;
        vertical-align: text-top;
        padding-left: 0;
        display: flex;
        .menu-item {
            display: inline-block;
            padding: 0.25em;
        }
        .menu-item-link {
            color:  #818181;
            text-decoration: none;
            font-size: 1em;
            &:hover {
                color: #111;
            }
        }
        .current-menu-item-link {
            color: #111;
            text-decoration: none;
        }
    }
}