.header {
  display: flex;
  margin: 0 auto;
  padding: 1em;
  justify-content: space-between;
  align-items: center;
  

  .blog-title .logo {
    font-family: 'Vollkorn', serif;
    color: #000;
    font-size: 1.5em;
    text-decoration: none;
  }

  .blog-title {
    height: 26.5;
  }


  @media screen and (max-width: 320px) {
    .blog-title .logo {
      display: flex;
      justify-content: center;
    }
  }

  .menu {
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    margin: 0 auto;
    vertical-align: text-top;
    
    .menu-item {
      display: inline-block;
      padding: 0.25em;
    }

    .menu-item-link {
      color: #bababa;
      text-decoration: none;
      font-size: 1em;
      &:hover {
        color: gray;
      }
    }
  }

  @media screen and (max-width: 320px) {
    .menu {
      display: flex;
      justify-content: center;
      padding-left: 0;
    }
  }
}

@media screen and (max-width: 320px) {
  .header {
    display: flex;
    flex-direction: column;
  }
}
