.header {
    margin: 4em auto;
    padding: 0 1em;
    justify-content: unset;
    flex-direction: unset;
    .blog-title .logo {
        font-family: 'Source Serif Pro', 'Noto Serif TC', serif;
        color: #000;
        font-size: 1.2em;
        text-decoration: none;
    }
}