.post {
  padding: 1.5em 2em;
  background-color: #fff;
  border: 1px #ddd;
  border-style: solid none none none;

  a {
    color: gray;
    text-decoration: underline;
  }

  ul {
    padding-left: 30px;
  }

  blockquote {
    margin-left: 20px;
    border-style: none none none solid;
    padding-left: 20px;
  }

  .highlight.bash {
    margin: 0;
    padding: 0;
    font-family: "Fantasque Sans Mono", monospace;
    background-color: gray;
    color: #fff;
    line-height: 1em;

    pre {
      padding: 0;
      margin: 0;
    }
  }
}

@media screen and (min-width: 320px) { .post { padding: 16px }}

.posts  { 

  .post-title {
    font-size: 1.5em;

    .post-title-link {
      color: #000;
      font-weight: bold;
      text-decoration: none;
    }
  }

  .post-content {
    margin-bottom: 1em;
    a {
      color: gray;
      text-decoration: underline;
    }
    .More {
      padding: 1em 0
    }
  }

  .post-meta {
    color: #BABABA;
  }
}