.post {
    padding: 4em;
    border: 1px #ddd;
    border-style: none solid;
    h1.title {
        margin: 0;
        display: flex;
        line-height: 1.2em;
        justify-content: unset;
    }
    blockquote {
        border-top: 2px solid #616161;
        border-left: unset;
        padding-left: unset;
        padding-top: 20px;
        margin: unset;
    }
}

.posts .post-title {
    justify-content: unset;
}

.page-nav {
    display: flex;
    justify-content: unset;
    border-style: solid none none none;
    border: 1px #ddd;
    margin: 4em 0;
    .more {
        margin-top: unset;
        margin-right: 1em;
        text-decoration: none;
        color: gray;
    }
}


.license {
    display: flex;
    justify-content: unset;
    border-style: solid none none none;
    border: 1px #ddd;
    margin: 4em 0 4em 1em;
}