.post {
    padding: 4em;
    border: 1px #ddd;
    border-style: none solid;
    h1.title {
        margin: 0;
        display: flex;
        line-height: 1.2em;
        justify-content: none;
    }
    blockquote {
        border-top: 2px solid #616161;
        border-left: unset;
        padding-left: unset;
        padding-top: 20px;
        margin: unset;
    }
}

.posts .post-title {
    justify-content: unset;
}