.post {
  padding: 1.5em 2em;
  background-color: #fff;
  border: 1px #ddd;
  border-style: solid none;

  h1.title {
    margin: 0;
  }

  h2 {
    font-size: 1.2em;
  }

  a {
    color: gray;
    text-decoration: underline;
  }

  ul {
    padding-left: 30px;
  }

  ol {
    padding-left: 20px;
  }

  blockquote {
    border-left: 2px solid #616161;
    padding-left: 20px;
    margin: 1rem 0;
  }

  .highlight.bash {
    margin: 0;
    padding: 0;
    font-family: "Fantasque Sans Mono", monospace;
    background-color: gray;
    color: #fff;
    line-height: 1em;

    pre {
      padding: 0;
      margin: 0;
    }
  }
}

@media screen and (max-width: 320px) {
  .post {
    padding: 30px 16px;
  }
}
.prev_next {
  padding: 1em;
  margin: 1em;
  border-style: solid none none none;
  border: 1px #ddd;
  .next {
    text-align: right;
    text-decoration: none;
    color: gray;
  }
  .prev {
    text-decoration: none;
    color: gray;
  }
  display: flex;
  justify-content: space-between;

}

.posts  { 

  .post-title {
    font-size: 1.5em;
    justify-content: center;
    display: flex;

    .post-title-link {
      color: #000;
      font-weight: bold;
      text-decoration: none;
    }
  }

  .post-content {
    margin-bottom: 1em;
    a {
      color: gray;
      text-decoration: underline;
    }
    .More {
      padding: 1em 0
    }
  }

  .post-meta {
    color: #BABABA;
  }
}