body {
    writing-mode: vertical-rl;
    overflow-y: hidden;
    text-align: left;
    font-family: "Source Serif Pro", Arial, "Source Han Serif TC",
        "Noto Serif CJK TC", "Noto Serif TC", "PingFang TC",
        "Heiti TC", "Noto Sans CJK TC", "Source Han Sans TC",
        "Hiragino Sans GB", "Microsoft YaHei UI", "Microsoft YaHei", sans-serif;
}